＃超途中で入力フォームのとこ真似しただけ

<div class="container">
  <div class="row">
    <div class="col-md-offset-4 col-md-4 users-new-container">
      <%= form_for @comment do |f| %>
        <%= f.text_area :comment, class: 'form-control' %>

        <%= f.submit "送信", class: 'btn-block btn-white' %>
      <% end %>
    </div>
  </div>
</div>
</div>
